body {
    margin: 0;
    background: #1a1a1a;
    color: #fff
}

h2 {
    text-align: center;
}

#player-wrapper > iframe{
    border: 5px solid #000;
}

.videoThumbnail {
    height: 200px;
    width: 265;
    opacity: 0.5;
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
}

.videoThumbnail:hover {
    opacity: 1;
    cursor: pointer;
}

.videoList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.video {
    margin: 4px;
}

.description {
    max-width: 260px;
    z-index: 1;
    padding: 2px;
    position: absolute;
}