body {
    margin: 0;
    background: #1a1a1a;
    color: #ababab;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
}

header {
    padding-top: 2em;
}

button, input, select, option {
    color: #1a1a1a !important;
    font-weight: 600 !important;
}

#player-wrapper> iframe {
    margin-top: 10%;
}

.fetch-next-prev, .play-playlist{
    margin: 10px 10px 10px 0px;
    border: none;
    font-size: 16px;
    padding: 12px;
    width: 50px;
    height: 50px;
}

.play-playlist {
    background: url(../images/play-arrow.png);
}

.prev{
    background: url(../images/left_arrow.png);
}
.next{
    background: url(../images/right_arrow.png);
}

.prev, .next, .play-playlist{
    background-size: 50px 50px;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.videoThumbnail {
    height: 200px;
    width: 265;
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    /* Safari */
    transition: opacity 0.5s;
}

.videoThumbnail:hover {
    opacity: 1;
    cursor: pointer;
    color: #f5f5f5;
}

.fetch-next-prev:hover, .fetch-next-prev:focus, .fetch-next-prev:visited, .play-playlist:hover, .play-playlist:focus, .play-playlist:visited{
    background-color: #1a1a1a !important;
    opacity: 1 !important;
    outline: none !important;
}

.videoList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.video {
    position: relative;
    margin: 10px 4px;
}

.description {
    max-width: 260px;
    z-index: 1;
    padding: 2px;
    position: absolute;
    cursor: pointer;
    color: inherit;
}

ul {
    list-style: square inside; /* if the 'fancy square' image is not available, the default square style will be used instead */
    font-size: 16px;
}

#playlist{
    margin-top: 30px;
}

.add-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.add-img:hover{
    -ms-transform: scale(1.2, 1.2); /* IE 9 */
    -webkit-transform: scale(1.2, 1.2); /* Safari */
    transform: scale(1.2, 1.2);
}

.margin-topbot {
    margin: 10px 0px;
}

.play-playlist{
    margin-bottom: 5px;
}

.playling-now {
    color: #f5f5f5;
}

/**
*   Searchbar styles & select box
*/

.search> input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ababab;
    border-radius: 4px;
    font-size: 16px;
    background-image: url('../images/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search> input[type=text]:focus {
    width: 80%;
    outline: none !important;
}

select#order-select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-color: #f5f5f5;
    background-image: url('../images/select-dropdown.png');
    background-position: 97% center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 2px solid #ababab;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 40px 12px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    outline: none !important;
}

.playlist-element{
    cursor: pointer;
}

/**
*   Spinner
*/
/* ----------------- Loader ---------------------- */
.loader {
  margin: 20% auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ababab;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Loader */

@media (max-width: 1850px) {
  #player-wrapper> iframe {
    width: 640px;
    height: 390px;
  }
  .col-lg-5{
      width:40%;
  }
  .col-lg-7{
      width:60%;
  }
}

@media (max-width: 1570px) {
  #player-wrapper> iframe {
    width: 600px;
    height: 366px;
  }
}

@media (max-width: 1370px) {
  .col-lg-5{
      width:50%;
  }
  .col-lg-7{
      width:50%;
  }
}

@media (max-width: 1260px) {
  #player-wrapper> iframe {
    width: 640px;
    height: 390px;
  }
  .col-lg-5{
      width:55%;
  }
  .col-lg-7{
      width:45%;
  }
}

@media (max-width: 1200px) {
  #player-wrapper> iframe {
    width: 100%;
    height: 500px;
  }
  .col-lg-5{
      width:100%;
  }
  .col-lg-7{
      width:100%;
  }
}

@media (max-width: 850px) {
  #player-wrapper> iframe {
    width: 100%;
  }
}