body {
    margin: 0;
    background: #393B32;
    color: #fff
}

.videoThumbnail{
    height: 200px;
    width: 265;
}

.videoList{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.video{
    margin:1px;
}